body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #f5f5f5;
}

h1, h2 {
  margin: 20px 0;
}

input {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

h2 {
  margin-top: 40px;
}
